[Desktop Entry]
Encoding=UTF-8
Name=OdynCash
Comment=OdynCash P2P Cryptocurrency
Comment[fr]=OdynCash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=OdynCash, eşten eşe kriptografik sanal para birimi
Exec=odyncash-qt %u
Terminal=false
Type=Application
Icon=odyncash-128
MimeType=x-scheme-handler/odyncash;
Categories=Office;Finance;
