[submodule "src/bdap/vgp"]
	path = src/bdap/vgp
	url = https://github.com/Zero-Dynamics/VGP.git
	branch = master
[submodule "src/libtorrent"]
	path = src/libtorrent
	url = https://github.com/Zero-Dynamics/libbdaptorrent.git
	branch = incompatible
